
body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    color: #333;
}


nav {
    background: #0066cc;
    padding: 12px 0;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 35px;
}

nav a {
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 6px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

nav a:hover {
    background: white;
    color: #0066cc;
}


header {
    text-align: center;
    padding: 70px 20px;
    background: linear-gradient(to bottom, #0088ff, #004e99);
    color: white;
}

header h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}


.container {
    padding: 50px 10%;
    display: flex;
    gap: 40px;
}

.container img {
    width: 100%;
    border-radius: 10px;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery img {
    width: calc(33% - 20px);
    border-radius: 8px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}


.card-container {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: calc(33% - 20px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}


footer {
    text-align: center;
    padding: 20px;
    background: #003d7a;
    color: white;
    margin-top: 40px;
}
