
body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    color: #333;
}


nav {
    background: #0066cc;
    padding: 12px 0;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 35px;
}

nav a {
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 6px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

nav a:hover {
    background: white;
    color: #0066cc;
}


header {
    text-align: center;
    padding: 70px 20px;
    background: linear-gradient(to bottom, #0088ff, #004e99);
    color: white;
}

header h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}


.container {
    padding: 50px 10%;
    display: flex;
    gap: 40px;
}

.container img {
    width: 100%;
    border-radius: 10px;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery img {
    width: 600px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    width: 925px;      
    height: 600px;    
    object-fit: cover; 
    border-radius: 6px; 
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 280px;
    background: white;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    transition: 0.2s;
}

.card:hover {
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
    transform: scale(1.02);
}

.card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}



.image-section img {
    width: 500px;
    border-radius: 8px;
    transition: transform 0.3s;
}
.image-section img:hover {
    transform: scale(1.05);
}



footer {
    text-align: center;
    padding: 20px;
    background: #003d7a;
    color: white;
    margin-top: 40px;
}
